  
 #tableTracking{
  height: auto;
  max-height: 350px;
  max-width: 100%;
  overflow: auto;
 }

 .mat-row{    
  min-height: 40px;
 }
 .mat-row:hover{    
    background-color: lightgray;
    cursor: pointer;
   }

 #map {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 312px);
    margin-top: 4px;
}

.table-container {
   position: relative;
   overflow: auto;
   max-height: 273px;
 }